<html lang-="en">
  <%- include('./partials/head.ejs'); %>
<body>
   <%- include('./partials/nav.ejs'); %>

    <div class="about-content">
        <h2>About Us</h2>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</p>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</p>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</p>       
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
